################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Warp-Reporting-POC/CopilotIndices/17.14.1431.25910
/.vs
